.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex; /* Agregado */
  justify-content: center; /* Agregado */
  padding: 10px 0;
}

.footer-text {
  color: black;
  font-size: 1rem;
}
