<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Correo Electrónico</mat-label>
    <input matInput type="email" formControlName="email" required>
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
      El correo electrónico es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre de usuario</mat-label>
    <input matInput formControlName="username" required>
    <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
      El nombre de usuario es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" formControlName="password" required>
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      La contraseña es obligatoria.
    </mat-error>
  </mat-form-field>

  <!-- Botón debajo del formulario -->
  <div style="margin-top: 20px;"> <!-- Espaciado opcional -->
    <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
  </div>
</form>
