.navbar {
  justify-content: center;
  position: relative;
}

.notification-card {
  position: absolute;
  top: 50px; /* Ajusta este valor según sea necesario */
  right: 10px; /* Ajusta este valor según sea necesario */
  width: 300px;
  z-index: 1000;
}

.unread-notification {
  background-color: #e0f7e0; /* Color verde claro */
}
