<mat-toolbar color="primary" class="navbar">
  <button mat-button (click)="navigateToHome()">Home</button>
  <button mat-button *ngIf="!isLoggedIn" (click)="navigateToLogin()">Inicio de Sesión</button>
  <button mat-button *ngIf="!isLoggedIn" (click)="navigateToRegister()">Registrarse</button>
  <button mat-icon-button *ngIf="isLoggedIn" (click)="toggleNotifications()">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-button *ngIf="isLoggedIn && role === 'Administrador'" (click)="navigateToPublications()">Publicaciones</button>
  <button mat-button *ngIf="isLoggedIn && role === 'Administrador'" (click)="navigateToUserCreation()">Crear Usuario</button>
  <button mat-button *ngIf="isLoggedIn && role === 'Administrador'" (click)="navigateToUserPanel()">Visualizar Usuarios</button>
  <button mat-button *ngIf="isLoggedIn && role === 'Usuario'" (click)="navigateToCreatePublication()">Crear Publicación</button>
  <button mat-button *ngIf="isLoggedIn && role === 'Moderador'" (click)="navigateToPublications()">Publicaciones</button>
  <button mat-button *ngIf="isLoggedIn" (click)="endSession()">Cerrar Sesión</button>
</mat-toolbar>

<div *ngIf="showNotifications" class="notification-card mat-elevation-z4">
  <mat-card>
    <mat-card-title>Notificaciones</mat-card-title>
    <mat-card-content>
      <div *ngFor="let notification of notificationCollection.notifications" [ngClass]="{'unread-notification': !notification.already_read}">
        <p>{{ notification.message }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="markAllAsRead()">Marcar todas como leídas</button>
    </mat-card-actions>
  </mat-card>
</div>
