<div class="post-list">
  <mat-card *ngFor="let post of postCollection.posts" class="post-card">
    <mat-card-header>
      <mat-card-title>Evento: {{ post.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Descripción: {{ post.description }}</p>
    </mat-card-content>
    <mat-card-content>
      <p>Lugar: {{ post.place }}</p>
    </mat-card-content>
    <mat-card-content>
      <p>Inicio: {{ post.start_date_time }}</p>
    </mat-card-content>
    <mat-card-content>
      <p>Finalización: {{ post.end_date_time }}</p>
    </mat-card-content>
    <mat-card-content>
      <p>Categoria: {{ post.category.category_name }}</p>
    </mat-card-content>
  </mat-card>
</div>
